.second{
  display: none
}

.third{
  display: none;
}







/* 
body{
  background-color: green;
  font-family: sans-serif;
}

h1{
  text-align: center;
}

.table{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid black;
}


.table-center > h3{

  border: 3px solid black;
  color: maroon;
  padding: 5px 60px;
  margin: 0;
}

.table-center > h5{
  margin: 0;
  padding: 0;
}

.status-bar{
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: rgba(0,0,0,0.6);
}

.money-tracker{
  display: flex;
  gap: 16px;
}

.action-area{
  display: flex;
  justify-content: center;
  padding: 16px;
}

.hand-value{
  font-size: 12px;
  font-weight: 400;
  margin: 3px;
  padding: 3px 8px;
  background-color: rgba(0,0,0,0.6);
  color: white;
  text-align: center;
  border-radius: 4px;
  min-width: 20px
} */

