/* .second{
  display: none;
}

.third{
  display: none;
} */

.inactive{
  display: none;
}

button, input{
  background-color: #FFD670;
  border-color: #FFD670;
  border-style: double;
  color: #247BA0;
  border-radius: 8px;
  height: 24px;
}



input{
  width: 60px;
} 


body{
  background-color: #247BA0;
  font-family: sans-serif;
  text-align: center;
  padding: 30px
  
}

h1{
  font-size: 54px;
  color:  #FFD670;
  font-family: 'Imperial Script', cursive;
  margin: 30px;
  padding: 0;
}

h3{
  color: white;
  padding: 5px 60px;
  margin: 0;
  
}

h5{
  margin: 10px;
  padding: 0;
  color:white;
}

p{
  color:white;
  margin: 0;
}

.leftLine, .rightLine{
  border: 1px solid white;
  width: 120px;
  margin: 16px 0
}



.table{
  padding: 30px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  border: 3px solid white;
  border-radius: 30px;
}

.moneyArea{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.player-options > div {
  margin: 8px;
}

.status-bar{
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: rgba(0,0,0,0.6);
}

.action-area{
  display: flex;
  justify-content: center;
  padding: 16px;
}

.hand-value{
  font-size: 12px;
  font-weight: 400;
  margin: 3px;
  background-color: rgba(0,0,0,0.6);
  color: white;
  text-align: center;
  border-radius: 4px;
  min-width: 20px
}

.userTitle{
  font-weight: 800;
  margin-bottom: 16px;
}

.status-top{
  margin-bottom: 5px;
}

.status-bottom{
  margin-top: 5px;
}